FORGEJO_UID=1000
FORGEJO_GID=1000
FORGEJO_BIND_ADDR=100.98.67.189
FORGEJO_DB_HOST=100.98.67.189:5433
FORGEJO_DB_NAME=forgejo
FORGEJO_DB_USER=forgejo
FORGEJO_DB_PASSWORD=<generar y guardar en Vault>
FORGEJO_DOMAIN=git.proxy.humanizar-dev.cloud
FORGEJO_ROOT_URL=https://git.proxy.humanizar-dev.cloud/
FORGEJO_SSH_DOMAIN=git.proxy.humanizar-dev.cloud
FORGEJO_SSH_PORT=2222
